<div class="header-container">
  <nav class="site-header">
    <div class="nav-main nav-item logo">
      <a class="nav-link">
        <span>לראווה</span>
        <!--<svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons.svg#emptyLogo"></use>
        </svg>-->
      </a>
    </div>
    <!--  <ul class="site-nav">
        <li class="nav__item"><a href="#about" class="nav-link">קצת עלינו</a></li>
        <li class="nav__item"><a class="nav-link">ביקורות</a></li>
        <li class="nav__item"><a class="nav-link">צרו קשר</a></li>
      </ul>-->
    <span (click)="toggleMenu()" [class.cd-menu-icon-is-clicked]="isClicked" class="cd-menu-icon"></span>
    <div class="nav-item" >
      <!--<a href="https://google.co.il" class="nav-link">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons.svg#mail"></use>
        </svg>
      </a>
      <a href="https://google.co.il" class="nav-link">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons.svg#phone"></use>
        </svg>
      </a>-->
    </div>
  </nav>
</div>
<!--
<nav>
  <ul class="cd-primary-nav" [class.is-visible]="isClicked">
    <li class="cd-label">About us</li>

    <li><a href="#about">The team</a></li>
    <li><a href="#0">Our services</a></li>
    <li><a href="#0">Our projects</a></li>
    <li (click)="toggleMenu()" class="nav__item"><a href="#about" class="nav-link">קצת עלינו</a></li>

    <li class="cd-label">Work with us</li>

    <li><a href="#0">Start a project</a></li>
    <li><a href="#0">Join In</a></li>
    <li><a href="#0">Create an account</a></li>

    <li class="cd-label">Follow us</li>

    <li class="cd-social cd-facebook"><a href="#0">Facebook</a></li>
    <li class="cd-social cd-instagram"><a href="#0">Instagram</a></li>
    <li class="cd-social cd-dribbble"><a href="#0">Dribbble</a></li>
    <li class="cd-social cd-twitter"><a href="#0">Twitter</a></li>
  </ul>
</nav>
-->
