<ul class="header" id="menu">
  <li class="nav-main active" data-menuanchor="home"><a href="#home" data-hover="לראווה">לראווה</a></li>
  <div [class.mobile]="!isClicked">
    <li data-menuanchor="about"><a href="#about" data-hover="קצת עלינו">קצת עלינו</a></li>
    <li data-menuanchor="services"><a href="#services" data-hover="שירותים">שירותים</a></li>
    <li data-menuanchor="friends"><a href="#friends" data-hover="החברים שלנו">החברים שלנו</a></li>
    <li data-menuanchor="contact"><a href="#contact" data-hover="צור קשר">צור קשר</a></li>
  </div>
  <div class="actions">
    <i class="fa fa-phone-square mobile" aria-hidden="true"></i>
    <i class="fa fa-facebook-square mobile" aria-hidden="true"></i>
    <i class="fa fa-envelope mobile" aria-hidden="true"></i>
    <div class="hamburger-menu" (click)="toggleMenu()">
      <div class="bar" [class.animate]="isClicked"></div>
    </div>
  </div>
</ul>
