:host {
  z-index: 1;
  position: fixed;
  color: white;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-family: 'Varela Round', sans-serif;
}

.nav-main {
  font-size: 2.0em;
}

.actions {
  width: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
}

.hamburger-menu {
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: 30px;
  height: 3px;
}

.bar {
  position: relative;
  transform: translateY(8px);
  background: white;
  transition: all 0ms 300ms;
}
.bar.animate {
  background: rgba(255, 255, 255, 0);
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}



@media only screen and (min-width: 700px) {
  .hamburger-menu {
    display: none;
  }
}

.header {
  width: 100%;
  display: flex;
  padding-left: 0;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  z-index: 1;
}
.header * {
  box-sizing: border-box;
}
.header li {
  list-style: outside none none;
  margin: 0 15px;
  padding: 0;
}
.header a {
  padding: 0.5em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.header a:before,
.header a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.header a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0;
  content: "";
  background-color: #2980b9;
}
.header a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0;
  overflow: hidden;
}
.header a:hover:before,
.header .active a:before {
  opacity: 1;
  width: 100%;
}
.header a:hover:after,
.header .active a:after {
  max-width: 100%;
}

.mobile {
  display: none;
}

@media only screen and (min-width: 700px) {
  .mobile {
    display: flex;
  }

  .header {
    max-width: 800px;
  }

  .actions {
    margin-right: auto;
  }
}
