<div class="header-container">
  <ul class="snip1135">
    <li class="nav-main"><div href="#" data-hover="לראווה">לראווה</div></li>
    <li><a href="#" data-hover="קצת עלינו">קצת עלינו</a></li>
    <li><a href="#" data-hover="שירותים">שירותים</a></li>
    <li><a href="#" data-hover="החברים שלנו">החברים שלנו</a></li>
    <li><a href="#" data-hover="צור קשר">צור קשר</a></li>
    <div class="actions">
      <i class="fa fa-phone-square" aria-hidden="true"></i>
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <div class="hamburger-menu" (click)="toggleMenu()">
        <div class="bar" [class.animate]="isClicked"></div>
      </div>
    </div>
  </ul>
</div>

