<div class="container">
  <div class="slide"> Slide 1 </div>
  <div class="slide"> Slide 2 </div>
  <div class="slide"> Slide 3 </div>
  <div class="slide"> Slide 4 </div>
<!--  <div class="slide">
    <div class="title">
      החברים שלנו
    </div>
    <div class="friends">
      <div class="friend-logo"><img src="../../assets/cafecafe.jpg"></div>
      <div class="friend-logo"><img src="../../assets/agadir.jpg"></div>
      <div class="friend-logo"><img src="../../assets/machsanei.jpg"></div>
    </div>
  </div>
  <div class="slide"> Slide 2</div>
  <div class="slide"> Slide 3</div>
  <div class="slide"> Slide 4</div>-->
</div>
