<div class="container">
  <div class="zoomIn animated title">קצת עלינו...</div>
  <p class="slideInUp animated">אנו בחברת ל"ראווה" עוסקים בתחום נקיון חלונות הראווה ללקוחות פרטיים ובעיקר לבתי עסק מזה כ-7 שנים.
    החברה פועלת בעיקר באזור השרון וגוש דן.
    בין לקוחותינו הם ארומה, קפה לנדוור, קפה קפה, ג'אפניקה, בנדיקט, מסעדת מדיסון וכו'.
    השירות ניתן באופן קבוע כמידי שבוע לעסקים רבים באזורים נירחבים.
    הנסיון והמקצועיות שצברנו בתחום מתאפיין בחלונות מבריקים ותחזוקה של נקיון החלונות עד הפרטים הקטנים.
    השירות הינו כחול-לבן ברמה גבוהה אשר מתבטא בכך שחלונות בית העסק שלך- תמיד יוצגו לראווה !</p>
  <div class="arrow-down animated pulse infinite" (click)="fullpageService.moveSectionDown()">
  </div>
</div>
