<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-heading">צרו<b> קשר</b></h2>
        <hr class="primary">
        <p>
          רוצים להצורף לרשימת החברים של לראווה? להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ.
        </p>
        <div class="regularform">
          <div class="done">
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              Your message has been sent. Thank you!
            </div>
          </div>
          <form method="post" action="contact.php" id="contactform" class="text-left">
            <input name="name" type="text" class="col-md-6 norightborder" placeholder="שם מלא">
            <input name="email" type="email" class="col-md-6" placeholder="כתובת אימייל">
            <textarea name="comment" class="col-md-12" placeholder="הכנס טקסט לכאן."></textarea>
            <input type="submit" id="submit" class="contact submit btn btn-primary btn-xl" value="שלח ">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="bottombrand wow flipInX">לראווה</h1>
        <p>
          Thanks to Daniel Amram the king.
        </p>
      </div>
    </div>
  </div>
</section>
