:host {
  background: #5f6071 url(../../assets/friends.jpg) no-repeat scroll;
  background-size: cover;
  color: #1d587b;
}

.container {
  text-align: center;
}

.friends {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.friend-logo img{
  width: 100px;
  height: 100px;
}

.sebm-google-map-container {
  height: 300px;
}
