<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><b>השירותים</b> שלנו</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- begin 1st row -->
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <div class="iconbox bg-primary">
            <i class="fa fa-2x fa-credit-card-alt wow bounceIn text-fade"></i>
          </div>
          <h3>אפשרויות תשלום</h3>
          <p class="text-muted">
            לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <div class="iconbox bg-dark">
            <i class="fa fa-2x fa-users wow bounceIn text-fade" data-wow-delay=".1s"></i>
          </div>
          <h3>הלקוחות שלנו</h3>
          <p class="text-muted">
            הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <div class="iconbox bg-primary">
            <i class="fa fa-2x fa-calendar wow bounceIn text-fade" data-wow-delay=".2s"></i>
          </div>
          <h3>לוחות זמנים</h3>
          <p class="text-muted">
            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג ישבעס.
          </p>
        </div>
      </div>
    </div>
    <!-- end 1st row -->
    <br/>
    <div class="row">
      <!-- begin 2nd row -->
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <div class="iconbox bg-dark">
            <i class="fa fa-2x fa-map-marker wow bounceIn text-fade"></i>
          </div>
          <h3>איזורי עבודה</h3>
          <p class="text-muted">
            ורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית. סת אלמנקום ניסי נון ניבאה. דס איאקוליס וולופטה דיאם.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <div class="iconbox bg-primary">
            <i class="fa fa-2x fa-phone-square wow bounceIn text-fade" data-wow-delay=".1s"></i>
          </div>
          <h3>זמינות</h3>
          <p class="text-muted">
            להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורךגולר מונפרר סוברט לורם שבצק יהול, לכנוץ בעריר גק ליץ.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 text-center">
        <div class="service-box">
          <div class="iconbox bg-dark">
            <i class="fa fa-2x fa-road wow bounceIn text-fade" data-wow-delay=".2s"></i>
          </div>
          <h3>אופי עבודה</h3>
          <p class="text-muted">
            מוסן מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. לורם איפסום דולור סיט אמט, קולורס מונפרד אדנדום סילקוף.
          </p>
        </div>
      </div>
    </div>
    <!-- end 2nd row -->
  </div>
</section>
<div class="clearfix">
</div>
