<div id="carousel-example-generic" class="carousel intro slide" scrollSpy>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <!-- First slide -->
    <div class="item active" style="background-image:url(../../assets/img/home-1.jpg)">
      <div class="carousel-caption">
        <h1 data-animation="animated bounceInUp">לראווה</h1>
        <h2 data-animation="animated bounceInDown">המקצוענים לניקוי כל סוגי החלונות</h2>
        <a href="#" class="btn btn-ghost btn-lg" data-animation="animated fadeInRight">הרשמה</a><a href="#" class="btn btn-primary btn-lg" data-animation="animated fadeInLeft">קרא/י עוד</a>
      </div>
    </div>
    <!-- /.item -->
    <!-- Second slide -->
    <div class="item" style="background-image:url(../../assets/img/home-2.jpg)">
      <div class="carousel-caption">
        <h1 data-animation="animated bounceInUp">לראווה</h1>
        <h2 data-animation="animated bounceInDown">המקצוענים לניקוי כל סוגי החלונות</h2>
        <a href="#" class="btn btn-ghost btn-lg" data-animation="animated fadeInRight">הרשמה</a><a href="#" class="btn btn-primary btn-lg" data-animation="animated fadeInLeft">קרא/י עוד</a>
      </div>
    </div>
    <!-- /.item -->
    <!-- Third slide -->
    <div class="item" style="background-image:url(../../assets/img/home-3.jpg)">
      <div class="carousel-caption">
        <h1 data-animation="animated bounceInUp">לראווה</h1>
        <h2 data-animation="animated bounceInDown">המקצוענים לניקוי כל סוגי החלונות</h2>
        <a href="#" class="btn btn-ghost btn-lg" data-animation="animated fadeInRight">הרשמה</a><a href="#" class="btn btn-primary btn-lg" data-animation="animated fadeInLeft">קרא/י עוד</a>
      </div>
    </div>
    <!-- /.item -->
  </div>
  <!-- /.carousel-inner -->
  <!-- Controls (currently displayed none from style.css)-->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
