:host {
  display: flex;
  justify-content: center;;
  position: relative;
  background: #525252;
}

:host.active .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

:host.active .fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-filter: grayscale(30%) brightness(0.9);
  filter: grayscale(30%) brightness(0.9);
  /*-webkit-filter: saturate(700%) grayscale(90%) blur(10px);
  filter: saturate(300%) grayscale(80%) blur(10px) brightness(2);*/
}

.svg-mask {
  /*background: url(../../assets/headerMask.svg);*/
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.logo-title {
  font-family: 'Amatica SC', cursive;
  font-weight: bold;
  font-size: 11em;
  position: absolute;
  z-index: 2;
  color: rgb(29, 88, 123);
}

.sub-title {
  font-family: 'Varela Round', sans-serif;
  z-index: 2;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  background-color: rgb(29, 88, 123);
  padding: 0 7px 2px 7px;
  font-size: 1.2em;
  top: 20%;
  border-radius: 8px;
}

@media only screen and (min-width: 700px) {
  .logo-title {
    font-size: 20em;
  }

  .sub-title {
    font-size: 2em;
  }
}
